
.idea/Analisador Lexico.iml
.idea/dictionaries/Rhyix.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/lexer.cpython-38.pyc
__pycache__/tela.cpython-38.pyc
